/* Made by Ecys — https://ecys.xyz */

/* Main Config (waybar) */

@import "~/.config/rofi/config.rasi" 

/* ---- Configuration ---- */
configuration {
  modi: "drun";
}

window {
  width: 50%;
  height: 59%;
}
/* ---- Mainbox ---- */
mainbox {
  children:
    [ "inputbar", "listview"];
}

entry {
  expand: true;
  placeholder: "🖼️  Choose Waybar Style";
}

/* ---- Listview ---- */
listview {
  columns: 2;
  lines: 6;
}
