/* Made by Ecys — https://ecys.xyz */

/* Rofi Config for Google Search) */

@import "~/.config/rofi/config.rasi" 

/* ---- Window ---- */
window {
    width: 40%;
    y-offset: 6px;
    location: north;
    padding: 0px 0px -12px 0px;
}

/* ---- Inputbar ---- */
inputbar {
    enabled: true;
}

/* ---- Mainbox ---- */
mainbox {
	padding: 0px;
    children: [ "entry"];
}

/* ---- Entry ---- */ 
entry {
	placeholder: "🔎 Search Google";
}

