[Unit]
Description=Serpantinum desktop shell
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=@HOME@/.local/bin/serpantinumd start
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
